In [2]:
import numpy as np
import pandas as pd
from typing import Tuple

pd.set_option('display.precision', 7)  # Increase decimal precision
pd.set_option('display.width', 300)     # Wider display
pd.set_option('display.max_columns', None)  # Show all column

# Choosing Chebyshev Nodes

## Algorithm

- Purpose: Select (n+1) interpolation points in [a, b] to minimize interpolation error.

- Inputs
   - a, b: range of interval
   - n: degree of interpolation polynomial

- Outputs
   - $x_i$: (n+1) interpolation nodes in [a, b]

- Steps
1. Check if [a, b] = [-1, 1]
   - If yes → condition = 1
   - Otherwise → condition = 0

2. For each i = 0, 1, 2, ..., n
   - Compute $t_i = \cos \left( \dfrac{\pi (2i + 1)}{2n + 2} \right)$

3. If condition = 1
   - $x_i = t_i$

   Else
   - $x_i = 0.5 * [ (b - a) t_i + (b + a) ]$

4. Output $x_0, x_1, ..., x_n$ in descending order

In [ ]:
def choose_interpolation_points(a, b, n):

    # Step 1: Check interval condition
    condition = 1 if (a == -1 and b == 1) else 0

    # Step 2: Compute t_i
    i_values = np.arange(0, n + 1)
    t_values = np.cos(np.pi * (2 * i_values + 1) / (2 * n + 2))

    # Step 3: Compute x_i
    if condition == 1:
        x_values = t_values
    else:
        x_values = 0.5 * ((b - a) * t_values + (b + a))

    # Step 4: Display results in pandas table
    df = pd.DataFrame({
        "i": i_values,
        "t_i (cos)": t_values,
        "x_i (chosen point)": x_values
    })

    return df, x_values

## Result

In [10]:
# Example run
df, points = choose_interpolation_points(a=-1, b=1, n=9)

df.style.hide(axis="index")

In [11]:
df, points = choose_interpolation_points(a=3, b=6, n=12)

df.style.hide(axis="index")